.container{
  display: flex;
  background-color: var(--blur-bgcolor);
   backdrop-filter: blur(15px);
    border:1px solid var(--border-color);
     box-shadow:var(--box-shadow);
     border-radius: 8px;
     width: 62vw;
     margin-left: 6vw;
}