.wrapper {
  padding: calc(var(--mantine-spacing-xl) * 2) var(--mantine-spacing-xl);
  margin: 2vw 0vw 0vw -1vw;
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: 36px;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: var(--mantine-spacing-md);
  color: var(--text-color);
}

@media (max-width: 480px) {
  .title {
    font-size: 28px;
    text-align: left;
  }
  .wrapper{
    margin: -10vw 0vw 0vw -6vw;
  }
}