.footer {
  margin-top: 120px;
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 0);
  background-color:var(--bg-color);
  border-top: 1px solid var(--border-color);
  width: 100%;
}

.logo {
  width: 600px;
  display: block;

}

.description {
  height: 10px;
  width: 210px;
  margin-top: 20px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.groups {
  display: flex;
  flex-wrap: wrap;

}

.wrapper {
  width: 160px;
}

.link {
  display: block;
  color: var(--text-color);
  font-size: var(--mantine-font-size-sm);
  padding-top: 3px;
  padding-bottom: 3px;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-size: var(--mantine-font-size-lg);
  font-weight: 700;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  color:var(--text-color);
}

.afterFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));

}


.logo {
  height: 24px;
  width: 24px;
}