.title {
  font-size: 26px;
  font-weight: 900;
  font-family: "Greycliff CF", var(--mantine-font-family);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mobile Responsive Fix */
@media (max-width: 480px) {
  .controls {
    flex-direction: column-reverse;
  }

  .control {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}
